* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}

.container {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(239, 239, 239);
}

.card {
  height: 280px;
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
}
.header button {
  background-color: white;
  color: #8b8b8b;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10px;
  padding: 2px 4px;
  border: 1px solid #dadada;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.main h3 {
  font-size: 16px;
  font-weight: 500;
}

.main h3 span {
  margin-left: 3px;
  font-size: 10px;
  font-weight: 400;
  color: #aeaeae;
}

.main h1 {
  font-size: 20px;
  font-weight: 500;
}

.main .tag {
  display: flex;
  gap: 7px;
}

.main .tags {
  background-color: #e4e4e4;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #d7d7d7ce;
  padding-top: 20px;
}

.footer h2 {
  font-size: 16px;
}

.footer .location {
  margin-top: 5px;
  font-size: 9px;
  color: #aeaeae;
}

.footer button {
  padding: 3px 6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}
